---
layout: base
title: Community
---
%div{:style=>"float: right;"}
  %script{:type=>"text/javascript", :src=>"http://www.ohloh.net/p/77325/widgets/project_factoids.js"}

%h2 Community
%p Weld is an open-source project. Contributions and participation is welcome.

%h3 User forum
%p
  The 
  %a{:href=>"https://community.jboss.org/en/weld?view=discussions"}
    Weld user forum
  is intended for developers who use Weld to build their applications.

%h3 IRC Chat
%p
  The #weld-dev IRC channel hosted on irc.freenode.net focuses on Weld development discussion. The conversation is logged and the log is available at
  %a{:href=>"http://transcripts.jboss.org/channel/irc.freenode.org/%23weld-dev/index.html"}
    http://transcripts.jboss.org

%h3 Mailing list
%p
  Discussions related to development of Weld also takes place in the
  %a{:href=>"https://lists.jboss.org/mailman/listinfo/weld-dev"}
    weld-dev mailing list

%h3 Reporting a bug
%p
  Bug reports and feature requests can be reported in the project
  %a{:href=>"https://issues.jboss.org/browse/WELD#selectedTab=com.atlassian.jira.plugin.system.project%3Asummary-panel"}
    JIRA
