---
layout: base
title: Community
---
%div{:style=>"float: right;"}
  %script{:type=>"text/javascript", :src=>"http://www.ohloh.net/p/77325/widgets/project_factoids.js"}

%h1 Community
%p Weld is an open-source project. Contributions and participation is welcome.

%h2 User forum
%p
  The 
  %a{:href=>"https://community.jboss.org/en/weld?view=discussions"}
    Weld user forum
  is intended for developers who use Weld to build their applications.

%h2 IRC Chat
%p
  The
  %a{:href=>"http://webchat.freenode.net/?channels=weld-dev"}
    \#weld-dev IRC channel
  hosted on
  %code
    irc.freenode.net
  focuses on Weld development discussion. The conversation is logged and the log is available at
  %a{:href=>"http://transcripts.jboss.org/channel/irc.freenode.org/%23weld-dev/index.html"}
    transcripts.jboss.org

%h2 Mailing list
%p
  Discussions related to development of Weld also takes place in the
  %a{:href=>"https://lists.jboss.org/mailman/listinfo/weld-dev"}
    weld-dev mailing list
  \. An archive
  for the mailing list is available at 
  %a{:href=>"http://lists.jboss.org/pipermail/weld-dev/"}
    lists.jboss.org

%h2 Source code repository
%p
  Weld uses 
  %a{:href=>"http://git-scm.com/"}
    Git
  for source code version control. All the source code is hosted on
  %a{:href=>"http://github.com/"} 
    GitHub
%p
  We follow the
  %a{:href=>"http://git-scm.com/book/en/Distributed-Git-Distributed-Workflows#Integration-Manager-Workflow"}
    Integration Manager Workflow
  for managing changes to the Weld source code. If you are new to using GitHub we recommend that you read this
  %a{:href=>"https://help.github.com/articles/using-pull-requests"}
    tutorial.

%h2 Reporting a bug
%p
  Bug reports and feature requests can be reported in the project
  %a{:href=>"https://issues.jboss.org/browse/WELD#selectedTab=com.atlassian.jira.plugin.system.project%3Asummary-panel"}
    JIRA

%h2 Contributors
%ul
  %li
    %a{:href=>"https://github.com/weld/core/graphs/contributors"}
      List of Weld contributors
%p
  If you are interested in becoming a contributor, check the
  %a{:href=>"https://issues.jboss.org/issues/?filter=12320398"}
    list of open issues awaiting contributions
  or let us know on the developer mailing list.

