---
layout: base
title: Documentation
priority: 0.5
change_frequency: weekly
---
%h1 Documentation
%p Weld reference documentation can be viewed online or downloaded as a PDF.
%ul
  %li
    The latest stable version (
    %strong Weld 2.3
    ):
    %ul
      %li
        %a{:href=>"http://docs.jboss.org/weld/reference/latest/en-US/html/",:target=>'_blank'}HTML
      %li
        %a{:href=>"http://docs.jboss.org/weld/reference/latest/en-US/html_single/",:target=>'_blank'}HTML (Single page)
      %li
        %a{:href=>"http://docs.jboss.org/weld/reference/latest/en-US/pdf/weld-reference.pdf",:target=>'_blank'}PDF
  %li
    The latest unstable version (
    %strong Weld 3.0 Alpha
    ):
    %ul
      %li
        %a{:href=>"http://docs.jboss.org/weld/reference/latest-master/en-US/html/",:target=>'_blank'}HTML
      %li
        %a{:href=>"http://docs.jboss.org/weld/reference/latest-master/en-US/html_single/",:target=>'_blank'}HTML (Single page)
      %li
        %a{:href=>"http://docs.jboss.org/weld/reference/latest-master/en-US/pdf/weld-reference.pdf",:target=>'_blank'}PDF
  %li
    %a{:href=>"http://docs.jboss.org/weld/reference/",:target=>"_blank"}Browse documentation for older Weld releases

%h1 FAQ
%ul
  - site.faq.each_with_index do |faq, i|
    %li
      %a{:href=>"##{i}"}
        = faq.title

%hr

- site.faq.each_with_index do |faq, i|
  %div{:id=>"#{i}"}
    %h3
      = faq.title
    ~ faq[:rendered_content]
