---
layout: base
---
%h2 Documentation
%p Weld reference documentation can be viewed online or downloaded as a PDF.
%ul
  %li 
    %a{:href=>"http://docs.jboss.org/weld/reference/latest/en-US/html/"}HTML
  %li
    %a{:href=>"http://docs.jboss.org/weld/reference/latest/en-US/html_single/"}HTML (Single page)
  %li
    %a{:href=>"http://docs.jboss.org/weld/reference/latest/en-US/pdf/weld-reference.pdf"}PDF
