---
layout: base
title: Documentation
priority: 0.5
change_frequency: weekly
desc: FAQ, Links to Weld documentation
---
%h1 Documentation
%p Weld reference documentation can be viewed online or downloaded as a PDF.
%ul
  %li
    The latest Weld 3 version:
    %ul
      %li
        %a{:href=>"http://docs.jboss.org/weld/reference/latest-master/en-US/html/",:target=>'_blank'}HTML
      %li
        %a{:href=>"http://docs.jboss.org/weld/reference/latest-master/en-US/html_single/",:target=>'_blank'}HTML (Single page)
      %li
        %a{:href=>"http://docs.jboss.org/weld/reference/latest-master/en-US/pdf/weld-reference.pdf",:target=>'_blank'}PDF
  %li
    %a{:href=>"http://docs.jboss.org/weld/reference/",:target=>"_blank"}Browse documentation for older Weld releases

%a{:name=>"faq_contents"}
%h1 FAQ
%ul
  - site.faq.each_with_index do |faq, i|
    %li
      %a{:href=>"##{i}"}
        = faq.title

%hr

- site.faq.each_with_index do |faq, i|
  %div{:id=>"#{i}"}
    %h2
      = faq.title
    ~ faq[:rendered_content]
    %a{:href=>"#faq_contents"}
      %i.fa.fa-arrow-circle-o-up.fa-lg
      Top
    %hr
