---
layout: base
title: Download
priority: 0.5
change_frequency: weekly
desc: Download links to Weld distribution bundles, Weld jars and CDI API jars
---

%h1 Download
%h2 Jakarta EE Application Server
%p
  The easiest way to use Weld is with a Jakarta EE Application Server. Here are some examples of servers using Weld:
  %ul
    %li
      %a{:href=>"https://www.wildfly.org/"}WildFly
    %li
      %a{:href=>"https://glassfish.org/"}Eclipse GlassFish
    %li
      %a{:href=>"https://openliberty.io"}Open Liberty
%h2 Maven
%ul
  %li
    %a{:href=>"https://central.sonatype.com/search?q=g%3Ajakarta.cdi++a%3Ajakarta.cdi-api",:target=>'_blank'}
      CDI API
  %li
    %a{:href=>"https://central.sonatype.com/search?q=g:org.jboss.weld%20%20a:weld-core-impl",:target=>'_blank'}Weld Core
  %li
    Weld Servlet (
    %a{:href=>"https://central.sonatype.com/search?q=g:org.jboss.weld.servlet%20 a:weld-servlet-core",:target=>'_blank'}Core
    ,
    %a{:href=>"https://central.sonatype.com/search?q=g:org.jboss.weld.servlet%20 a:weld-servlet-shaded",:target=>'_blank'}Shaded jar with dependencies
    )
  %li
    Weld SE (
    %a{:href=>"https://central.sonatype.com/search?q=g:org.jboss.weld.se%20 a:weld-se-core",:target=>'_blank'}Core
    ,
    %a{:href=>"https://central.sonatype.com/search?q=g:org.jboss.weld.se%20 a:weld-se-shaded",:target=>'_blank'}Shaded jar with dependencies
    )
  %li
    %a{:href=>"https://central.sonatype.com/search?q=g:org.jboss.weld%20%20a:weld-osgi-bundle",:target=>'_blank'}
      Weld OSGi bundle


%h2 Binary distribution

%table.downloads
  %tr
    %th
      Version
    %th
      Category
    %th
      CDI version
    %th
      Release date
    %th
      Changelog
    %th
      Download
  - for release in site.releases[0,10]
    %tr
      %td.version
        =release["version"]
      %td
        - if release["category"] == "Experimental"
          %strong
            =release["category"]
        - else
          =release["category"]
      %td
        - if release["version"].index("1.0") == 0 || release["version"].index("1.1") == 0
          1.0
        - if release["version"].index("2.0") == 0 || release["version"].index("2.1") == 0
          1.1
        - if release["version"].index("2.2") == 0 || release["version"].index("2.3") == 0 || release["version"].index("2.4") == 0
          1.2
        - if release["version"].index("3.0") == 0 || release["version"].index("3.1") == 0
          2.0
        - if release["version"].index("4.0") == 0 || release["version"].index("4.1") == 0
          3.0
        - if release["version"].index("5.0") == 0 || release["version"].index("5.1") == 0
          4.0
        - if release["version"].index("6.0") == 0 || release["version"].index("6.1") == 0
          4.1
        - if release["version"].index("7.0") == 0 || release["version"].index("7.1") == 0
          5.0
      %td
        =release["date"]
      %td
        %a{:href=>"https://issues.redhat.com/secure/ReleaseNote.jspa?projectId=12310891&version=#{release.versionId}"}
          Changelog
      %td
        - if release.download == "sf"
          %a{:href=>"https://sourceforge.net/projects/jboss/files/Weld/#{release.version}"}
            Download
        - elsif release.download == "maven"
          Available in
          %a{:href=>"https://search.maven.org/#artifactdetails%7Corg.jboss.weld%7Cweld-core%7C#{release.version}%7Cjar"}
            Maven
        - else
          %a{:href=>"https://download.jboss.org/weld/#{release.version}"}
            Download

%p

%a{ :href=>"/dist" }
  %i.fa.fa-download
  &nbsp;Binary distribution archive
