---
layout: base
title: Download
priority: 0.5
change_frequency: weekly
desc: Download links to Weld distribution bundles, Weld jars and CDI API jars
---

%h1 Download
%h2 Java EE Application Server
%p
  The easiest way to use Weld is with a Java EE Application Server. Here are some examples of EE servers using Weld:
  %ul
    %li
      %a{:href=>"https://www.wildfly.org/"}WildFly
    %li
      %a{:href=>"https://glassfish.org/"}Eclipse GlassFish
    %li
      %a{:href=>"https://developer.ibm.com/wasdev/downloads/"}WebSphere Liberty
%h2 Maven
%ul
  %li
    %a{:href=>"https://search.maven.org/search?q=g:jakarta.enterprise%20AND%20a:jakarta.enterprise.cdi-api",:target=>'_blank'}
      CDI API
  %li
    %a{:href=>"https://search.maven.org/#search%7Cga%7C1%7Cg%3A%22org.jboss.weld%22%20AND%20a%3A%22weld-core-impl%22",:target=>'_blank'}Weld Core
  %li
    Weld Servlet (
    %a{:href=>"https://search.maven.org/#search%7Cga%7C1%7Cg%3A%22org.jboss.weld.servlet%22%20AND%20a%3A%22weld-servlet-core%22",:target=>'_blank'}Core
    , Shaded jar with dependencies
    %a{:href=>"https://search.maven.org/#search%7Cga%7C1%7Cg%3A%22org.jboss.weld.servlet%22%20AND%20a%3A%22weld-servlet%22",:target=>'_blank'} Weld 2
    ,
    %a{:href=>"https://search.maven.org/#search%7Cga%7C1%7Cg%3A%22org.jboss.weld.servlet%22%20AND%20a%3A%22weld-servlet-shaded%22",:target=>'_blank'} Weld 3 and newer
    )
  %li
    Weld SE (
    %a{:href=>"https://search.maven.org/#search%7Cga%7C1%7Cg%3A%22org.jboss.weld.se%22%20AND%20a%3A%22weld-se-core%22",:target=>'_blank'}Core
    , Shaded jar with dependencies
    %a{:href=>"https://search.maven.org/#search|ga|1|g%3A%22org.jboss.weld.se%22%20AND%20a%3A%22weld-se%22",:target=>'_blank'}Weld 2
    ,
    %a{:href=>"https://search.maven.org/#search|ga|1|g%3A%22org.jboss.weld.se%22%20AND%20a%3A%22weld-se-shaded%22",:target=>'_blank'}Weld 3 and newer
    )
  %li
    %a{:href=>"https://search.maven.org/#search%7Cga%7C1%7Cg%3A%22org.jboss.weld%22%20AND%20a%3A%22weld-osgi-bundle%22",:target=>'_blank'}
      Weld OSGi bundle


%h2 Binary distribution

%table.downloads
  %tr
    %th
      Version
    %th
      Category
    %th
      CDI version
    %th
      Release date
    %th
      Changelog
    %th
      Download
  - for release in site.releases[0,10]
    %tr
      %td.version
        =release["version"]
      %td
        - if release["category"] == "Experimental"
          %strong
            =release["category"]
        - else
          =release["category"]
      %td
        - if release["version"].index("1.0") == 0 || release["version"].index("1.1") == 0
          1.0
        - if release["version"].index("2.0") == 0 || release["version"].index("2.1") == 0
          1.1
        - if release["version"].index("2.2") == 0 || release["version"].index("2.3") == 0 || release["version"].index("2.4") == 0
          1.2
        - if release["version"].index("3.0") == 0 || release["version"].index("3.1") == 0
          2.0
        - if release["version"].index("4.0") == 0 || release["version"].index("4.1") == 0
          3.0
        - if release["version"].index("5.0") == 0 || release["version"].index("5.1") == 0
          4.0
        - if release["version"].index("6.0") == 0 || release["version"].index("6.1") == 0
          4.1
      %td
        =release["date"]
      %td
        %a{:href=>"https://issues.redhat.com/secure/ReleaseNote.jspa?projectId=12310891&version=#{release.versionId}"}
          Changelog
      %td
        - if release.download == "sf"
          %a{:href=>"https://sourceforge.net/projects/jboss/files/Weld/#{release.version}"}
            Download
        - elsif release.download == "maven"
          Available in
          %a{:href=>"https://search.maven.org/#artifactdetails%7Corg.jboss.weld%7Cweld-core%7C#{release.version}%7Cjar"}
            Maven
        - else
          %a{:href=>"https://download.jboss.org/weld/#{release.version}"}
            Download

%p

%a{ :href=>"/dist" }
  %i.fa.fa-download
  &nbsp;Binary distribution archive
