<footer class="bg-light border-top mt-5 pt-4 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <img src="/images/weld_logo_100x.png" alt="Weld" height="40" class="mb-2">
                <p class="text-muted small">The reference implementation of CDI: Contexts and Dependency Injection for the Java Platform.</p>
            </div>
            <div class="col-md-4 mb-3">
                <h6>Links</h6>
                <ul class="list-unstyled small">
                    <li><a href="/news" class="text-muted text-decoration-none">News</a></li>
                    <li><a href="/download" class="text-muted text-decoration-none">Download</a></li>
                    <li><a href="/documentation" class="text-muted text-decoration-none">Documentation</a></li>
                    <li><a href="/contribute" class="text-muted text-decoration-none">Contribute</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h6>Community</h6>
                <ul class="list-unstyled small">
                    <li><a href="https://github.com/weld" class="text-muted text-decoration-none" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
                    <li><a href="https://issues.redhat.com/browse/WELD" class="text-muted text-decoration-none" target="_blank"><i class="fas fa-bug"></i> Issue Tracker</a></li>
                    <li><a href="https://lists.jboss.org/mailman/listinfo/weld-dev" class="text-muted text-decoration-none" target="_blank"><i class="fas fa-envelope"></i> Mailing List</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <a href="https://www.commonhaus.org/" target="_blank">
                    <img src="https://raw.githubusercontent.com/commonhaus/artwork/main/foundation/brand/svg/CF_logo_horizontal_single_default.svg"
                         alt="Commonhaus Foundation" height="30" class="logo-light">
                    <img src="https://raw.githubusercontent.com/commonhaus/artwork/main/foundation/brand/svg/CF_logo_horizontal_single_reverse.svg"
                         alt="Commonhaus Foundation" height="30" class="logo-dark" style="display: none;">
                </a>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col text-center">
                <p class="text-muted small mb-0">
                    Copyright &copy; Weld. All rights reserved.
                    For details on our trademarks, please visit our
                    <a href="https://www.commonhaus.org/policies/trademark-policy/" class="text-muted">Trademark Policy</a>
                    and <a href="https://www.commonhaus.org/trademarks/" class="text-muted">Trademark List</a>.
                </p>
            </div>
        </div>
    </div>
</footer>
