        <div id="top_subnav_branding">
            <div id="banner">
                <div class="container">
                    <a href="/"><img src="/images/weld_logo_100x.png"
                                     alt="Weld"
                                     onError="this.style.display='none'"/></a>
                </div>
            </div>
            <div id="proj_nav" class="">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="sf-menu">
                            <li class="open" data-nav="overview">
                                <span class="notch">&nbsp;</span>
                                <a href="/" class="menu-title">Overview</a>
                            </li>
                            <li class="open" data-nav="news">
                                <span class="notch">&nbsp;</span>
                                <a href="/news" class="menu-title">News</a>
                            </li>
                            <li class="open" data-nav="download">
                                <span class="notch">&nbsp;</span>
                                <a href="/download" class="menu-title">Download</a>
                            </li>
                            <li class="open" data-nav="documentation">
                                <span class="notch">&nbsp;</span>
                                <a href="/documentation" class="menu-title">Documentation</a>
                            </li>
                            <li class="open" data-nav="contribute">
                                <span class="notch">&nbsp;</span>
                                <a href="/contribute" class="menu-title">Contribute</a>
                            </li>
                            <li>
                                <button id="theme-toggle" type="button" aria-label="Toggle theme">
                                    <i class="fas fa-moon"></i>
                                    <span class="theme-toggle-text">Dark</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div><!-- end container -->
            </div>
        </div>
