---
layout: default
paginate:
    collection: posts
    size: 10
    link: news/page-:page
---
{@io.quarkiverse.roq.frontmatter.runtime.model.NormalPage page}

<h2>{page.title}</h2>
<p class="mb-4">
    <a href="/rss.xml" class="text-decoration-none" title="RSS Feed">
        <i class="fas fa-rss-square fa-lg"></i> RSS Feed
    </a>
</p>

<div class="blog-list-container">
{#for post in site.collections.posts.paginated(page.paginator)}
<div class="blog-post-card card mb-4">
    <div class="card-body">
        <a href="{post.url}" class="text-decoration-none">
            <h4 class="post-title">{post.title}</h4>
        </a>
        <div class="post-meta">
            <i class="fas fa-calendar"></i> {post.date.format('MMMM dd, yyyy')}
            {#if post.data.author} | <i class="fas fa-user"></i> {post.data.author}{/if}
        </div>
        <p class="card-text mt-2">{site.pageContent(post).stripHtml.wordLimit(75).raw}</p>
        <a href="{post.url}" class="btn btn-sm btn-outline-primary">Read more &raquo;</a>
    </div>
</div>
{/for}
</div>

{#if page.paginator}
<nav aria-label="News pagination" class="mt-4">
    <ul class="pagination justify-content-center">
        {#if page.paginator.previous}
        <li class="page-item">
            <a class="page-link" href="{page.paginator.previous}"><i class="fas fa-chevron-left"></i> Newer Posts</a>
        </li>
        {#else}
        <li class="page-item disabled">
            <span class="page-link"><i class="fas fa-chevron-left"></i> Newer Posts</span>
        </li>
        {/if}
        {#if page.paginator.next}
        <li class="page-item">
            <a class="page-link" href="{page.paginator.next}">Older Posts <i class="fas fa-chevron-right"></i></a>
        </li>
        {#else}
        <li class="page-item disabled">
            <span class="page-link">Older Posts <i class="fas fa-chevron-right"></i></span>
        </li>
        {/if}
    </ul>
</nav>
{/if}
