@import url(http://fonts.googleapis.com/css?family=Open+Sans);

div.navbar {
    background-color: transparent;
    border: 0 none;
    border-bottom: 1px solid #ddd;
}

.navbar-default .navbar-nav > li {
    margin-bottom: -1px;
}

.navbar-default .navbar-nav > li > a {
    color: #0088cc;
    border: 1px solid #ddd;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: #eee;
}

.navbar-default .navbar-nav > li:last-child > a {
    border-radius: 0 0 6px 6px;
}

.navbar-default .navbar-nav > li:first-child > a {
    border-radius: 6px 6px 0 0;
    background-color: #eee;
    border: 0 none;
}

.navbar-default .navbar-nav > li:first-child > a:hover {
    color: black;
}

code {
    background-color: inherit;
    font-family: "Lucida Console", monospace;
}

p code {
    background-color: #efefef;
    border-radius: 3px;
    padding: 1px 4px;
    white-space: nowrap;
    font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 95%;
}

.first-in-row { margin-left: 0 !important; }

//image placement
img.weld-home-logo {
    margin: 40px 0 15px 20px;
    float: left;
}

img.cdi-background {
    float: right;
}

html {
    font-size: small;
}

//body styles
body {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 110%;
    height: 100%;
}

p {
    margin: 0 0 15px;
}

.container-fluid div.jumbotron {
    padding: 35px;
    line-height: 25px;
    margin: 15px 0px 15px 0px;
}

div.jumbotron p {
    font-size: 120%;
}

div.jumbotron h1 {
    font-size: 300%;
}

h1, h2, h3 {
    font-weight: bold;
    text-rendering: optimizelegibility;
    color: #333333;
}

h1 {
    font-size: 170%;
}

h2 {
    font-size: 140%;
}

h3 {
    font-size: 110%;
}

.content .btn-primary {
    background-color: #48678D;
    background-image: linear-gradient(to bottom, #4F729D, #3E5776);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

ul.newsColumn {
    margin-left: 0px;
    padding-left: 0px;
}

ul.newsColumn li {
    list-style-type: none;
    padding-bottom:10px;
}

ul.newsColumn strong {
    color: #666;
    font-size: .8em;
    margin-top: -8px;
}

table.downloads {
  width: 100%;
  th {
    border-bottom: 1px solid;
    text-align: left;
  }
  td {
    vertical-align: top;
    border-bottom: 1px solid;
    text-align: left;
  }
}

pre {
    background-color: #f0f0f0;
    font-family: "Lucida Console", monospace;
}

pre.highlight, pre.highlightjs, pre.code {
    border: 0px solid #AAAAAA;
    background: none;
}

pre code {
    border: 0px solid #AAAAAA;
    font-size: 1.1em;
    padding: 5px;
    overflow: auto;
    background: none;
    border-radius: 4px;
}

footer {
    background-color: #E8EDEE;
    font-size: 80%;
    text-align: center;
    margin-top: 30px;
}

div#preamble {
    margin-bottom: 30px;
}

.tabnavclearfix {
    padding: 0px 50px 0px 50px;
}

#tabnav-panel.tabnav-opened {
    border-bottom: initial;
}

table.tableblock, tr.tableblock, th.tableblock, td.tableblock {
    border: 1px solid;
    border-collapse: collapse;
    vertical-align: middle;
}

td.halign-center {
    text-align: center;
}

div#book-box {
    text-align: center;
}

img.weld-nav-logo {
    margin: 40px 0 15px 20px;
}

img.weld-book-img {
    box-shadow: 10px 10px silver;
}

@media (min-width: 768px) {

  .sidebar-nav {
    position: fixed;
    top: 35px;
  }

  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 8px;
    padding-bottom: 8px;
  }

}

@media (min-width: 1280px) {

  .sidebar-nav {
    min-width: 15em;
    left: 35px;
  }

}

div.row {
  margin: 0px;
}

p.tableblock {
  margin: 5px;
}

hr {
  margin: 10px 0px;
}

ul.newsColumn li {
  padding: 0px;
}

div.search-box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  width: 30%;
}

div.search-hits {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

div.search-results ol li {
  color: #656565;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

div.search-results ol li i {
  color: #191919;
}

div.search-results ol li p.search-desc {
  font-size: 85%;
}

div.news-date {
    background-color: #4a5860;
}

div.news-boxed {
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    color: white;
    display: inline-block;
    font-weight: bold;
    padding: 3px 5px 3px 5px;
    font-size: 90%;
    margin-bottom: 5px;
}

div.note {
    border: 1px solid #7dcf7d;
    background-color: #dff0d8;
}

div.warning {
    border: 1px solid #faebcc;
    background-color: #fcf8e3;
}

div.admonitionblock .content {
    padding: 15px;
}

div.admonitionblock {
    border-radius: 4px 4px 4px 4px;
    margin-top: 15px;
    margin-bottom: 15px;
}

div.admonitionblock .icon .title {
    font-weight: bold;
    color: #404040;
    border-right: 1px solid silver;
    padding: 10px;
    text-transform: uppercase;
}

div.admonitionblock td.icon .icon-tip:before {
    content: "\f0eb";
    color: #111;
    font-size: 200%;
    border-right: 1px solid silver;
    padding: 10px;
}

span.tags a {
    color: #e5eaec;
}

ul li p {
    margin: 0px;
}

div.toc {
    float: right;
    margin-left: 30px;
    padding: 15px;
    border-radius: 10px;
}

div.toc div.title {
    background-color: #4a5860;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

div.toc ul.sectlevel1 {
    border: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
}

div.toc ul.sectlevel1 li {
    padding: 5px;
    padding-right: 10px;
}

div.toc ul.sectlevel1 li ul.sectlevel2 li {
    padding: 2px;
}

.equal-height {
  display: flex;
  flex-wrap: wrap;
}