@import url(http://fonts.googleapis.com/css?family=Muli);
/* line 5, /opt/jboss/weld-site/stylesheets/styles.scss */
.nav-tabs-center > li, .nav-pills-center > li {
  float: none;
  display: inline-block;
  margin-bottom: -1px;
  *display: inline;
  /* ie7 fix */
  zoom: 1;
  /* hasLayout ie7 trigger */ }

/* line 13, /opt/jboss/weld-site/stylesheets/styles.scss */
.nav-tabs-center, .nav-pills-center {
  text-align: center;
  border-bottom: 1px solid #ddd; }

/* line 19, /opt/jboss/weld-site/stylesheets/styles.scss */
.nav-tabs-center > li > a, .nav-pills-center > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px; }

/* line 26, /opt/jboss/weld-site/stylesheets/styles.scss */
.nav-tabs-center > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 21px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0; }

/* line 37, /opt/jboss/weld-site/stylesheets/styles.scss */
.nav-tabs-center:before, .nav-tabs-center:after, .nav-pills-center:before, .nav-pills-center:after {
  display: table;
  content: "";
  line-height: 0; }

/* line 43, /opt/jboss/weld-site/stylesheets/styles.scss */
.nav-tabs-center:after, .nav-pills-center:after {
  clear: both; }

/* line 47, /opt/jboss/weld-site/stylesheets/styles.scss */
.nav-tabs-center > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd; }

/* line 52, /opt/jboss/weld-site/stylesheets/styles.scss */
.nav-tabs-center > .active > a, .nav-tabs-center > .active > a:hover {
  color: #777777;
  background-color: white;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default; }

/* line 60, /opt/jboss/weld-site/stylesheets/styles.scss */
.nav-pills-center > .active > a, .nav-pills-center > .active > a:hover {
  color: white;
  background-color: #558bc4; }

/* line 64, /opt/jboss/weld-site/stylesheets/styles.scss */
.nav-tabs-center .dropdown-menu {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px; }

/* line 69, /opt/jboss/weld-site/stylesheets/styles.scss */
.nav-tabs-center .dropdown-toggle .caret {
  margin-top: 8px; }

/* line 72, /opt/jboss/weld-site/stylesheets/styles.scss */
.nav-tabs-center .active .dropdown-toggle .caret {
  border-top-color: #777777;
  border-bottom-color: #777777; }

/* line 78, /opt/jboss/weld-site/stylesheets/styles.scss */
.nav-tabs-center .open .dropdown-toggle, .nav-pills-center .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover {
  color: white;
  background-color: #bbbbbb;
  border-color: #bbbbbb; }

/* line 84, /opt/jboss/weld-site/stylesheets/styles.scss */
.scrollTop {
  font-size: 40px;
  opacity: 0.3;
  position: fixed;
  bottom: 50px;
  right: 100px;
  display: none;
  width: 40px;
  height: 40px; }

/* line 95, /opt/jboss/weld-site/stylesheets/styles.scss */
#main_nav {
  position: fixed;
  top: 40px;
  font-size: .9em;
  padding-right: 20px; }

/* line 102, /opt/jboss/weld-site/stylesheets/styles.scss */
code {
  background-color: inherit; }

/* line 105, /opt/jboss/weld-site/stylesheets/styles.scss */
.first-in-row {
  margin-left: 0 !important; }

/* line 108, /opt/jboss/weld-site/stylesheets/styles.scss */
img.weld-home-logo {
  margin: 40px 0 15px 20px;
  float: left; }

/* line 113, /opt/jboss/weld-site/stylesheets/styles.scss */
img.cdi-background {
  float: right; }

/* line 118, /opt/jboss/weld-site/stylesheets/styles.scss */
body {
  font-family: 'Muli','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 14px;
  height: 100%; }

/* line 124, /opt/jboss/weld-site/stylesheets/styles.scss */
div.hero-unit {
  background: linear-gradient(to bottom, #000000 0px, #313131 40%) no-repeat scroll 0 0 transparent;
  color: white; }

/* line 129, /opt/jboss/weld-site/stylesheets/styles.scss */
h1, h2, h3 {
  font-weight: bold;
  text-rendering: optimizelegibility;
  color: #656565; }

/* line 135, /opt/jboss/weld-site/stylesheets/styles.scss */
h1 {
  font-size: 27px; }

/* line 139, /opt/jboss/weld-site/stylesheets/styles.scss */
h2 {
  font-size: 22px; }

/* line 143, /opt/jboss/weld-site/stylesheets/styles.scss */
h3 {
  font-size: 18px; }

/* line 147, /opt/jboss/weld-site/stylesheets/styles.scss */
.content .btn-primary {
  background-color: #48678D;
  background-image: linear-gradient(to bottom, #4f729d, #3e5776);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

/* line 156, /opt/jboss/weld-site/stylesheets/styles.scss */
ul.newsColumn {
  margin-left: 0px; }

/* line 160, /opt/jboss/weld-site/stylesheets/styles.scss */
ul.newsColumn li {
  list-style-type: none;
  padding-bottom: 10px; }

/* line 165, /opt/jboss/weld-site/stylesheets/styles.scss */
ul.newsColumn strong {
  color: #666;
  font-size: .8em;
  margin-top: -8px; }

/* line 171, /opt/jboss/weld-site/stylesheets/styles.scss */
table.downloads {
  width: 100%; }
/* line 173, /opt/jboss/weld-site/stylesheets/styles.scss */
table.downloads th {
  border-bottom: 1px solid;
  text-align: left; }
/* line 177, /opt/jboss/weld-site/stylesheets/styles.scss */
table.downloads td {
  vertical-align: top;
  border-bottom: 1px solid;
  text-align: left; }

/* line 184, /opt/jboss/weld-site/stylesheets/styles.scss */
pre.code {
  border: 1px solid #AAAAAA;
  font-size: 80%;
  padding: 5px;
  overflow: auto; }

/* line 191, /opt/jboss/weld-site/stylesheets/styles.scss */
footer {
  background-color: #E8EDEE;
  margin: 20px;
  font-size: 80%;
  text-align: center; }
/* line 196, /opt/jboss/weld-site/stylesheets/styles.scss */
footer p {
  margin: 20px; }

/* line 201, /opt/jboss/weld-site/stylesheets/styles.scss */
div#preamble {
  margin-bottom: 30px; }
