@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/* line 4, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div.navbar {
  background-color: transparent;
  border: 0 none;
  border-bottom: 1px solid #ddd; }

/* line 10, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
.navbar-default .navbar-nav > li {
  margin-bottom: -1px; }

/* line 14, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
.navbar-default .navbar-nav > li > a {
  color: #0088cc;
  border: 1px solid #ddd; }

/* line 19, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
.navbar-default .navbar-nav > li > a:hover {
  background-color: #eee; }

/* line 23, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
.navbar-default .navbar-nav > li:last-child > a {
  border-radius: 0 0 6px 6px; }

/* line 27, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
.navbar-default .navbar-nav > li:first-child > a {
  border-radius: 6px 6px 0 0;
  background-color: #eee;
  border: 0 none; }

/* line 33, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
.navbar-default .navbar-nav > li:first-child > a:hover {
  color: black; }

/* line 37, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
code {
  background-color: inherit;
  font-family: "Lucida Console", monospace; }

/* line 42, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
p code {
  background-color: #efefef;
  border-radius: 3px;
  padding: 2px 4px;
  white-space: nowrap;
  font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 95%; }

/* line 51, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
.first-in-row {
  margin-left: 0 !important; }

/* line 54, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
img.weld-home-logo {
  margin: 40px 0 15px 20px;
  float: left; }

/* line 59, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
img.cdi-background {
  float: right; }

/* line 63, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
html {
  font-size: small; }

/* line 68, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
body {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 110%;
  height: 100%; }

/* line 74, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
p {
  margin: 0 0 15px; }

/* line 78, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
.container-fluid div.jumbotron {
  padding: 35px;
  line-height: 25px;
  margin: 15px 0px 15px 0px; }

/* line 84, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div.jumbotron p {
  font-size: 120%; }

/* line 88, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div.jumbotron h1 {
  font-size: 200%; }

/* line 92, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
h1, h2, h3 {
  font-weight: bold;
  text-rendering: optimizelegibility;
  color: #333333; }

/* line 98, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
h1 {
  font-size: 170%; }

/* line 102, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
h2 {
  font-size: 140%; }

/* line 106, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
h3 {
  font-size: 120%; }

/* line 110, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
.content .btn-primary {
  background-color: #48678D;
  background-image: linear-gradient(to bottom, #4f729d, #3e5776);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

/* line 119, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
ul.newsColumn {
  margin-left: 0px;
  padding-left: 0px; }

/* line 124, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
ul.newsColumn li {
  list-style-type: none;
  padding-bottom: 10px; }

/* line 129, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
ul.newsColumn strong {
  color: #666;
  font-size: .8em;
  margin-top: -8px; }

/* line 135, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
table.downloads {
  width: 100%; }
/* line 137, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
table.downloads th {
  border-bottom: 1px solid;
  text-align: left; }
/* line 141, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
table.downloads td {
  vertical-align: top;
  border-bottom: 1px solid;
  text-align: left; }

/* line 148, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
pre {
  background-color: #f0f0f0; }

/* line 152, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
pre code {
  border: 0px solid #AAAAAA;
  font-size: 1.1em;
  padding: 5px;
  overflow: auto;
  background-color: #f0f0f0; }

/* line 160, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
footer {
  background-color: #E8EDEE;
  font-size: 80%;
  text-align: center;
  margin-top: 30px; }

/* line 167, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div#preamble {
  margin-bottom: 30px; }

/* line 171, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
.tabnavclearfix {
  padding: 0px 50px 0px 50px; }

/* line 175, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
#tabnav-panel.tabnav-opened {
  border-bottom: initial; }

/* line 179, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
table.tableblock, tr.tableblock, th.tableblock, td.tableblock {
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle; }

/* line 186, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div#book-box {
  text-align: center; }

/* line 190, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
img.weld-nav-logo {
  margin: 40px 0 15px 20px; }

/* line 194, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
img.weld-book-img {
  box-shadow: 10px 10px silver; }

@media (min-width: 768px) {
  /* line 200, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
  .sidebar-nav {
    position: fixed;
    top: 35px; }

  /* line 205, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none; }

  /* line 209, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
  .sidebar-nav .navbar ul {
    float: none; }

  /* line 212, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
  .sidebar-nav .navbar ul:not {
    display: block; }

  /* line 215, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
  .sidebar-nav .navbar li {
    float: none;
    display: block; }

  /* line 219, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
  .sidebar-nav .navbar li a {
    padding-top: 8px;
    padding-bottom: 8px; } }
@media (min-width: 1280px) {
  /* line 228, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
  .sidebar-nav {
    min-width: 14em;
    left: 35px; } }
/* line 235, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div.row {
  margin: 0px; }

/* line 239, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
p.tableblock {
  margin: 5px; }

/* line 243, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
hr {
  margin: 10px 0px; }

/* line 247, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
ul.newsColumn li {
  padding: 0px; }

/* line 251, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div.search-box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  width: 30%; }

/* line 258, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div.search-hits {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

/* line 263, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div.search-results ol li {
  color: #656565;
  margin-top: 0.2em;
  margin-bottom: 0.5em; }

/* line 269, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div.search-results ol li i {
  color: #191919; }

/* line 273, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div.search-results ol li p.search-desc {
  font-size: 85%; }

/* line 277, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div.news-date {
  background-color: #4a5860; }

/* line 281, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div.news-boxed {
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  color: white;
  display: inline-block;
  font-weight: bold;
  padding: 3px 5px 3px 5px;
  font-size: 90%;
  margin-bottom: 5px; }

/**
div.content a[target="_blank"]:after {
  font-family: 'FontAwesome';
  content: " \f08e";
}
**/
/* line 300, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div.note {
  border: 1px solid #7dcf7d;
  background-color: #dff0d8; }

/* line 305, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div.admonitionblock .content {
  padding: 15px; }

/* line 309, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div.admonitionblock {
  border-radius: 4px 4px 4px 4px;
  margin-top: 15px;
  margin-bottom: 15px; }

/* line 315, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div.admonitionblock .icon .title {
  font-weight: bold;
  color: #404040;
  border-right: 1px solid silver;
  padding: 10px; }

/* line 322, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
span.tags a {
  color: #e5eaec; }
