//Include Muli google font
@import url(http://fonts.googleapis.com/css?family=Muli);

div.navbar {
  font-size: 0.9em;
  background-color: transparent;
  border: 0 none;
  border-bottom: 1px solid #ddd;
}

.navbar-default .navbar-nav > li {
  margin-bottom: -1px;
}

.navbar-default .navbar-nav > li > a {
  color: #0088cc;
  border: 1px solid #ddd;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: #eee;
}

.navbar-default .navbar-nav > li:last-child > a {
  border-radius: 0 0 6px 6px;
}

.navbar-default .navbar-nav > li:first-child > a {
  border-radius: 6px 6px 0 0;
  background-color: #eee;
  border: 0 none;
}

.navbar-default .navbar-nav > li:first-child > a:hover {
  color: black;
}

code {
  background-color: inherit;
  font-family: "Lucida Console", monospace;
}

p code {
    background-color: #efefef;
    border-radius: 3px;
    padding: 2px 4px;
    white-space: nowrap;
    font-family: "Muli","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.9em;
}

.first-in-row { margin-left: 0 !important; }

//image placement
img.weld-home-logo {
  margin: 40px 0 15px 20px;
  float: left;
}

img.cdi-background {
  float: right;
}

//body styles
body {
  font-family: 'Muli','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 16px;
  height: 100%;
}

.container-fluid div.jumbotron {
  padding: 35px;
  line-height: 25px;
  margin: 15px 0px 15px 0px;
}

div.jumbotron p {
  font-size: 1.1em;
}

div.jumbotron h1 {
  font-size: 2em;
}

h1, h2, h3 {
    font-weight: bold;
    text-rendering: optimizelegibility;
    color: #656565;
}

h1 {
    font-size: 27px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

.content .btn-primary {
    background-color: #48678D;
    background-image: linear-gradient(to bottom, #4F729D, #3E5776);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

ul.newsColumn {
    margin-left: 0px;
    padding-left: 0px;
}

ul.newsColumn li {
    list-style-type: none;
    padding-bottom:10px;
}

ul.newsColumn strong {
    color: #666;
    font-size: .8em;
    margin-top: -8px;
}

table.downloads {
  width: 100%;
  th {
    border-bottom: 1px solid;
    text-align: left;
  }
  td {
    vertical-align: top;
    border-bottom: 1px solid;
    text-align: left;
  }
}

pre.code {
    border: 1px solid #AAAAAA;
    font-size: 80%;
    padding: 5px;
    overflow: auto;
    background-color: #f0f0f0;
}

footer {
    background-color: #E8EDEE;
    font-size: 80%;
    text-align: center;
    margin-top: 30px;
}

div#preamble {
    margin-bottom: 30px;
}

.tabnavclearfix {
    padding: 0px 50px 0px 50px;
}

#tabnav-panel.tabnav-opened {
    border-bottom: initial;
}

table.tableblock, tr.tableblock, th.tableblock, td.tableblock {
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}

div#book-box {
    text-align: center;
}

img.weld-nav-logo {
    margin: 40px 0 15px 20px;
}

img.weld-book-img {
    box-shadow: 10px 10px silver;
}

@media (min-width: 768px) {

  .sidebar-nav {
    position: fixed;
    top: 35px;
  }

  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 8px;
    padding-bottom: 8px;
  }

}

@media (min-width: 1280px) {

  .sidebar-nav {
    min-width: 14em;
    left: 35px;
  }

}

div.row {
  margin: 0px;
}

p.tableblock {
  margin: 5px;
}

hr {
  margin: 10px 0px;
}

ul.newsColumn li {
  padding: 0px;
}

div.search-box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  width: 30%;
}

div.search-hits {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

div.search-results ol li {
  color: #656565;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

div.search-results ol li i {
  color: #191919;
}

div.search-results ol li p.search-desc {
  font-size: 85%;
}

div.news-date {
    background-color: #82939d;
}

div.news-author {
    background-color: #86b4dc;
}

div.news-boxed {
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    color: white;
    display: inline-block;
    font-weight: bold;
    padding: 3px 5px 3px 5px;
    font-size: 0.8em;
}

/**
div.content a[target="_blank"]:after {
  font-family: 'FontAwesome';
  content: " \f08e";
}
**/

div.note {
    border: 1px solid #7dcf7d;
    background-color: #dff0d8;
}

div.admonitionblock .content {
    padding: 15px;
}

div.admonitionblock {
    border-radius: 4px 4px 4px 4px;
    margin-top: 15px;
    margin-bottom: 15px;
}

div.admonitionblock .icon .title {
    font-weight: bold;
    color: #404040;
    border-right: 1px solid silver;
    padding: 10px;
}