@import url(http://fonts.googleapis.com/css?family=Muli);
/* line 4, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div.navbar {
  font-size: 0.9em;
  background-color: transparent;
  border: 0 none;
  border-bottom: 1px solid #ddd; }

/* line 11, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
.navbar-default .navbar-nav > li {
  margin-bottom: -1px; }

/* line 15, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
.navbar-default .navbar-nav > li > a {
  color: #0088cc;
  border: 1px solid #ddd; }

/* line 20, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
.navbar-default .navbar-nav > li > a:hover {
  background-color: #eee; }

/* line 24, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
.navbar-default .navbar-nav > li:last-child > a {
  border-radius: 0 0 6px 6px; }

/* line 28, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
.navbar-default .navbar-nav > li:first-child > a {
  border-radius: 6px 6px 0 0;
  background-color: #eee;
  border: 0 none; }

/* line 34, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
.navbar-default .navbar-nav > li:first-child > a:hover {
  color: black; }

/* line 38, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
code {
  background-color: inherit;
  font-family: "Lucida Console", monospace; }

/* line 43, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
p code {
  background-color: #efefef;
  border-radius: 3px;
  padding: 2px 4px;
  white-space: nowrap;
  font-family: "Muli","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.9em; }

/* line 52, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
.first-in-row {
  margin-left: 0 !important; }

/* line 55, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
img.weld-home-logo {
  margin: 40px 0 15px 20px;
  float: left; }

/* line 60, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
img.cdi-background {
  float: right; }

/* line 65, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
body {
  font-family: 'Muli','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 16px;
  height: 100%; }

/* line 71, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
.container-fluid div.jumbotron {
  padding: 35px;
  line-height: 25px;
  margin: 15px 0px 15px 0px; }

/* line 77, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div.jumbotron p {
  font-size: 1.1em; }

/* line 81, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div.jumbotron h1 {
  font-size: 2em; }

/* line 85, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
h1, h2, h3 {
  font-weight: bold;
  text-rendering: optimizelegibility;
  color: #656565; }

/* line 91, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
h1 {
  font-size: 27px; }

/* line 95, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
h2 {
  font-size: 22px; }

/* line 99, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
h3 {
  font-size: 18px; }

/* line 103, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
.content .btn-primary {
  background-color: #48678D;
  background-image: linear-gradient(to bottom, #4f729d, #3e5776);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

/* line 112, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
ul.newsColumn {
  margin-left: 0px;
  padding-left: 0px; }

/* line 117, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
ul.newsColumn li {
  list-style-type: none;
  padding-bottom: 10px; }

/* line 122, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
ul.newsColumn strong {
  color: #666;
  font-size: .8em;
  margin-top: -8px; }

/* line 128, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
table.downloads {
  width: 100%; }
/* line 130, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
table.downloads th {
  border-bottom: 1px solid;
  text-align: left; }
/* line 134, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
table.downloads td {
  vertical-align: top;
  border-bottom: 1px solid;
  text-align: left; }

/* line 141, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
pre.code {
  border: 1px solid #AAAAAA;
  font-size: 80%;
  padding: 5px;
  overflow: auto;
  background-color: #f0f0f0; }

/* line 149, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
footer {
  background-color: #E8EDEE;
  font-size: 80%;
  text-align: center;
  margin-top: 30px; }

/* line 156, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div#preamble {
  margin-bottom: 30px; }

/* line 160, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
.tabnavclearfix {
  padding: 0px 50px 0px 50px; }

/* line 164, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
#tabnav-panel.tabnav-opened {
  border-bottom: initial; }

/* line 168, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
table.tableblock, tr.tableblock, th.tableblock, td.tableblock {
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle; }

/* line 175, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div#book-box {
  text-align: center; }

/* line 179, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
img.weld-nav-logo {
  margin: 40px 0 15px 20px; }

/* line 183, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
img.weld-book-img {
  box-shadow: 10px 10px silver; }

@media (min-width: 768px) {
  /* line 189, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
  .sidebar-nav {
    position: fixed;
    top: 35px; }

  /* line 194, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none; }

  /* line 198, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
  .sidebar-nav .navbar ul {
    float: none; }

  /* line 201, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
  .sidebar-nav .navbar ul:not {
    display: block; }

  /* line 204, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
  .sidebar-nav .navbar li {
    float: none;
    display: block; }

  /* line 208, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
  .sidebar-nav .navbar li a {
    padding-top: 8px;
    padding-bottom: 8px; } }
@media (min-width: 1280px) {
  /* line 217, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
  .sidebar-nav {
    min-width: 14em;
    left: 35px; } }
/* line 224, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div.row {
  margin: 0px; }

/* line 228, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
p.tableblock {
  margin: 5px; }

/* line 232, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
hr {
  margin: 10px 0px; }

/* line 236, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
ul.newsColumn li {
  padding: 0px; }

/* line 240, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div.search-box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  width: 30%; }

/* line 247, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div.search-hits {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

/* line 252, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div.search-results ol li {
  color: #656565;
  margin-top: 0.2em;
  margin-bottom: 0.5em; }

/* line 258, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div.search-results ol li i {
  color: #191919; }

/* line 262, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div.search-results ol li p.search-desc {
  font-size: 85%; }

/* line 266, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div.news-date {
  background-color: #82939d; }

/* line 270, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div.news-author {
  background-color: #86b4dc; }

/* line 274, /opt/source/weld/weld.github.io/stylesheets/styles.scss */
div.news-boxed {
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  color: white;
  display: inline-block;
  font-weight: bold;
  padding: 5px;
  font-size: 0.8em; }
